<div class='shapka'>
  <h2>Задачи</h2>
    <a id="clickme" href="#"><%= image_tag "addTodoIcon.png" %></a>
</div>

<div class="allDiv">
  <% @projects.each do |project| %>
    <div class="col-lg-4 col-md-6 col-s-12">
      <div class='text'>
        <div class='title'>
          <%= project.title %>
        </div>
        <% project.todos.each do |todo| %>
          <%= form_for todo do |f| %>
            <div class='linetodo'>
              <input type="checkbox" <%= if todo.isCompleted then "checked" end %> ><label class="todoText"><%= todo.text %></label><br/>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= form_for :todo, :html => { :class => 'new_todo', :style => "display: none;"} do |t|%>
  <div id="newTodoForm" class="cn">
    <div class='title'>
      Новая Задача
    </div>
    <%= t.text_field :text, :placeholder => "Название задачи...", :class => "todoTextField"  %><br>
    <%= select(:todo, "project_id", @projects.collect {|p| [ p.title, p.id ] }, {:class => "select2-selection"}) %>
    <table>
      <th><%= link_to 'Отмена', "#", :class => 'abort' %></th>
      <th><%= link_to 'OK', "#", :onclick=>"$('.new_todo').submit()" %></th>
    </table>
  </div>
<% end %>

<div id="overlay"></div>